/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: var(--clearcolor)
}



/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */



header {
	background-color: var(--flashcolor);
}

main {
	background-color: var(--secondarydark);
}

footer {
	background-color: var(--flashcolor);
}


h1 {font-size: 110px;

display: grid; place-items: center;
font-family: Lobster;
color: var(--clearcolor);
}

h2 {
	display: grid; place-items: center;
	font-family: Roboto;
	color: var(--clearcolor);
	font-size: 12px;
}

nav ul {list-style-type: none;}

nav li {
	display: inline;
	text-decoration: none;
}

nav a {
	text-decoration: none;
}

.container a, h3 { display: none;}

.skip-link {
	display: grid; place-items: center;
	font-family: Roboto;
	display: none;



}
html{
	--clearcolor:#e0ece4;
	--flashcolor:#ff4b5c;
	--darkcolor:#056674;
	--secondarydark:#66bfbf;

}


svg {height: 50px;}
